{% extends 'base.html.twig' %}

{% block title %}Hello CampeonesController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/marko/Desktop/Proyects/lolaplication-v2/symfonylolcito/src/Controller/CampeonesController.php'|file_link(0) }}">src/Controller/CampeonesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/marko/Desktop/Proyects/lolaplication-v2/symfonylolcito/templates/campeones/index.html.twig'|file_link(0) }}">templates/campeones/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
